DATABASE_URL=postgresql://postgres:postgres@localhost:5433/gmeet_bot?schema=public
REDIS_URL=redis://localhost:6380
PORT=3000
CONSUMER_URL=http://localhost:3000
DOCKER_VERSION=1.46
USE_DOCKER=1
DOCKER_IMAGE=meet-joiner:latest
